<div class="row">
  <div class="col-md-12">
    <%=  render "common/tabsforletter" %>



    <!-- 信件表单 -->
    <div class="col-md-8">
      <hr>
      <h3>修改邮件</h3>
      <%=  render "form" %>

    </div>    
    <!-- 信件条目 -->


    <!-- 提示信息 -->
    <div class="col-md-4">
      <h1>提示</h1>
    </div>
    <!-- 提示信息 -->



  </div>
</div>