<div class="row">
  <div class="col-md-12">

    <!-- 导航条 -->
    <div class="row">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="col-md-6"><a href="#">遗嘱</a></li>
        <li role="presentation" class="active col-md-6"><a href="#">心跳</a></li>
      </ul>
    </div>

    <!-- 信件表单 -->
    <div class="col-md-8">
      <hr>
      <h3>修改邮件</h3>
      <%=  render "form" %>

    </div>    
    <!-- 信件条目 -->


    <!-- 提示信息 -->
    <div class="col-md-4">
      <h1>提示</h1>
    </div>
    <!-- 提示信息 -->



  </div>
</div>