<div class="row">
  <div class="col-md-12">

    <!-- 导航条 -->
    <%= render "common/tabsforheartbeat" %>

    <!-- 信件表单 -->
    <div class="col-md-8">
      <hr>
      <h3>修改配置</h3>
      <br>

      <%  %>
      
        <p>
          心跳方式：<%= @heartbeat.contact_way %>
        </p>
        <p>
          心跳间隔：<%= @heartbeat.interval %>
        </p>
        <p>
          心跳超时：<%= @heartbeat.timeout %>
        </p>
        <%#= f.input :content, label: '邮件内容',input_html: { class: "form-control" ,rows: 10} %>
        <%#= h.submit "提交", class: "btn btn-primary btn-lg", data: { disable_with: "Submit..." } %>
     
      

    </div>    
    <!-- 信件条目 -->


    <!-- 提示信息 -->
    <div class="col-md-4">
      <h1>提示</h1>
    </div>
    <!-- 提示信息 -->



  </div>
</div>