    <!-- 导航条 -->
    <div class="row">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active col-md-6"><a href="#">遗嘱</a></li>
        <li role="presentation" class="col-md-6"><a href="#">心跳</a></li>
      </ul>
    </div>