    <!-- 导航条 -->
    <div class="row">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active col-md-6"><%= link_to('信件', account_letters_path) %></li>
        <li role="presentation" class="col-md-6"><%= link_to('心跳', account_heartbeat_path(@heartbeat)) %></li>

      </ul>
    </div>